body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

/* скиданнят дефолтних маргінів які заважають верстці */

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1,h2,h3,p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Загальні класи для логотипу, який використовується у хедері та футері */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

/* Стилізація секцій та їх заголовків */
.section-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    /* Великий відступ від заголовка до сітки */
}

/* --- Загальна геометрія --- */
.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
    